/* TUTO */


.tuto{
  padding: 55px 20px 45px 20px;
      &__title{
          margin-bottom: 30px;
          font-weight: 900;
      }
      &__card{
        padding: 1.5rem;
        margin: 1rem 0 1rem .75rem;
        margin-top: 1rem;
        @include shadow;
        border-radius: 1.25rem;
        background-color: #f6f6f6;
        display: flex;
        position: relative;
          &__icon{
              margin-right: 2rem;
              margin-left: -1rem;
              color: $shadow-color;
              font-size: 1.1rem;
          }
          &__number{
              height: 25px;
              width: 25px;
              border-radius: 50%;
              background-color: $primary;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              left: -45px;
              color: white;
          }
          &:hover{
              background-color: lighten($primary, $amount: 35%);
          }
          &:hover :nth-child(2){
              color: $primary;
          }   
      }
      

}



@media screen and (min-width: 750px) {
.tuto_container {
  width: 75%;
  margin: auto;
}

}

@media screen and (min-width: 1024px) {
.tuto_container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

}