/* SUBHEADER */

main {
    .subheader {
      background-color: #eaeaea;
      padding: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    .subtitle {
      font-size: 1rem;
      color: #000000a4;

    }
    i {
      font-size: 1rem;
    }
}