/* BASE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

::before,
::after {
  box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
}

ul,
li {
  list-style-type: none;
}
body {
  box-sizing: border-box;
  margin: 0px;
  scroll-behavior: smooth;
}


