/* BASE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: auto;
}

ul,
li {
  list-style-type: none;
}

body {
  box-sizing: border-box;
  margin: 0px;
  scroll-behavior: smooth;
}

/* HEADER */
.pr_header {
  padding: 20px 25px 10px 25px;
  display: flex;
  align-items: center;
}
.pr_header__logo {
  margin: auto;
}
.pr_header__back {
  font-size: 20px;
}

.pr_img {
  max-height: 29em;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

/* MENU */
.pr_main {
  margin: -4em 0;
  position: relative;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  padding: 35px 15px 80px 15px;
}
.pr_main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 30px;
}
.pr_main__header__title {
  font-family: "Shrikhand", sans-serif;
}

.container_dishes {
  display: grid;
}

.dishes {
  padding-bottom: 40px;
  max-width: 100%;
}
.dishes__header {
  margin-bottom: 25px;
}
.dishes__header ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  animation: progress 2s;
  animation-fill-mode: both;
  transform: scale(0);
}
.dishes__card {
  height: 70px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #c4c3c0;
  animation: appear 0.5s;
  animation-timing-function: cubic-bezier(0, 0.49, 0.56, 1.06);
  transform: scale(0);
  animation-fill-mode: both;
}
.dishes__card__txt {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishes__card__txt--over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishes__card__price {
  margin-left: 10px;
}
.dishes__card__check {
  height: 70px;
  width: 60px;
  opacity: 0;
  background-color: #99E2D0;
  margin-left: 25px;
  margin-right: -70px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-in-out;
}
.dishes__card:hover :nth-child(3) {
  opacity: 1;
  margin-right: 0px;
}
.dishes__card:hover .check_icons {
  opacity: 1;
  transform: rotate(-360deg);
}

@media (min-width: 64rem) {
  .container_dishes {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}
.container_header {
  text-align: center;
  box-shadow: 0px 5px 5px lightgrey;
  border-bottom: 5px;
  margin: 0;
  padding: 0.5rem;
  position: relative;
}

.footer {
  background-color: #353535;
  padding: 25px;
}
.footer_logo {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.footer_link {
  background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat center bottom/0 100%;
  color: #fff;
  height: 1.5em;
  transition: all 0.3s ease-in-out;
}
.footer_link i {
  margin-right: 0.5em;
}
.footer_link:hover {
  background-size: 50% 100%;
}
.footer_icons {
  margin-right: 10px;
}
.footer_list {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
main .subheader {
  background-color: #eaeaea;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main i {
  font-size: 1.5rem;
}

.reserve {
  text-align: center;
  background-color: #f7f7f7;
  padding: 0 0 2em 0;
}
.reserve h2 {
  font-weight: 900;
  padding: 1em 0 0 0;
}
.reserve p {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 1em 0 1.5em 0;
}

button {
  background-image: linear-gradient(174deg, #FF79DA 0%, #9356DC 90%);
  color: white;
  font-size: 1.5rem;
  padding: 1em 1.5em;
  font-weight: 590;
  margin: 0 auto;
  border-radius: 80px;
  border: 0 solid transparent;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  transition: transform 200ms;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.btn {
  display: flex;
  justify-content: center;
}

.tuto {
  padding: 55px 20px 45px 20px;
}
.tuto__title {
  margin-bottom: 30px;
}
.tuto__card {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 10px #c4c3c0;
  border-radius: 10px 10px 10px 10px;
  padding: 0 70px 0 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.tuto__card__icon {
  margin-right: 15px;
  color: #c4c3c0;
}
.tuto__card__number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -45px;
  color: white;
}
.tuto__card:hover {
  background-color: #f2eafb;
}
.tuto__card:hover :nth-child(2) {
  color: #9356DC;
}

@media screen and (min-width: 750px) {
  .tuto_container {
    width: 75%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .tuto_container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
  }
}
h1 {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
}

body, html {
  font-family: "Roboto", sans-serif;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0 0 0;
  padding: 2em 2em 2em 2em;
  background-color: #f6f6f6;
}
.restaurants_title {
  margin-bottom: 10px;
  width: 100%;
  font-size: 2em;
  color: #000000;
}
.restaurants_cards {
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1em 0;
  max-width: 45%;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.restaurants_cards:hover {
  transform: scale(1.02);
}
.restaurants .restaurants_cards_new {
  position: absolute;
  padding: 0.5em;
  right: 1em;
  top: 1em;
  background-color: #99E2D0;
  border-radius: 5px;
  color: #1f997c;
}
.restaurants img {
  width: 100%;
  height: 15em;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.restaurants i {
  bottom: 0.7em;
  position: absolute;
  right: 1em;
}
.restaurants .restaurants_cards_title {
  color: #000000;
  margin: 0.5em 0 0 1em;
}
.restaurants .restaurants_cards_desc {
  color: #000000;
  margin: 0 0 0.5em 1.2em;
}

@media screen and (max-width: 768px) {
  .restaurants {
    flex-direction: column;
  }

  .restaurants_cards {
    max-width: 100%;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.4s;
}

.delay3 {
  animation-delay: 0.7s;
}

.delay4 {
  animation-delay: 1s;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rebound {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart {
  font-size: 25px;
  color: grey;
}
.heart:hover {
  -webkit-animation: fill 1s ease-out;
  animation: fill 1s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.loader {
  position: fixed;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  inset: 0px;
  z-index: 1;
  opacity: 0.8;
  -webkit-animation: loader 3s;
  animation: loader 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.loader_dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
  -webkit-animation: rebound infinite 0.4s alternate;
  animation: rebound infinite 0.4s alternate;
}
.loader_dot--d1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  background: #9356DC;
}
.loader_dot--d2 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  background: #FF79DA;
}
.loader_dot--d3 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  background: #99E2D0;
}

.check_icons {
  color: white;
  font-size: 20px;
  opacity: 0;
  transform: rotate(0deg);
  transition: all 0.7s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
