@use "../utils/mixins";

img {
  max-width: 100%;
}

.menu_container {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu_header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i {
    @include mixins.heart-animated;
  }
  .menu_title {
    font-family: "Shrikhand", sans-serif;
    font-size: 2em;
  }
}
