
// Animation d'apparition des "cards" pour les menus
@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

// delais d'apparition des "cards" pour les menus
.delay1{
    animation-delay: 0.1s;
}

.delay2{
    animation-delay: 0.4s;
}

.delay3{
    animation-delay: 0.7s;
}

.delay4{
    animation-delay: 1s;
}



// Animation pour le soulignage des intitulés "entrées, plats, desserts"
@keyframes progress{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

// Animation pour les circles du loader
@keyframes rebound{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(-30px);
    }
}

//  Animation de disparition du loader
@keyframes loader{
    0% {
        transform: scale(1);
    }

    100% {
        visibility: hidden;
    }

    
}

// Animation pour les cartes 

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


// Animation pour le remplissage du coeur "heart"
@keyframes fill{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
