/* HEART ANIMATED */

.heart{
    font-size: 25px;
    color: grey;
    &:hover{
        -webkit-animation: fill 1s ease-out;
                animation: fill 1s ease-out;
        background: linear-gradient($secondary, $primary);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

}