.heart{
    font-size: 25px;
    color: grey;
    &:hover{
        animation: fill 1s ease-out;
        background: linear-gradient($secondary, $primary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

}