.loader {
  position: fixed;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  inset: 0px;
  z-index: 1;
  opacity: 0.8;
  animation: loader 6s;
  animation-fill-mode: forwards;

  &_dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    animation: rebound infinite 0.4s alternate;

    &--d1 {
      animation-delay: 1s;
      background: $primary;
    }

    &--d2 {
      animation-delay: 1.2s;
      background: $secondary;
    }

    &--d3 {
      animation-delay: 1.4s;
      background: $tertiary;
    }
  }
}
